---
import ProjectCard from "./ProjectCard.astro";

export interface Project {
  id: string;
  name: string;
  about: string;
  task: string;
  year: string;
  rol: string;
  url: string;
  tags: string[];
}

interface ProjectsEntries {
  title_page: string;
  title_year: string;
  title_rol: string;
  title_about: string;
  title_task: string;
  work: Project[];
}

interface Props {
  projectsEntries: ProjectsEntries;
}

const { projectsEntries } = Astro.props;
---

<div class="h-screen bg-foreground lg:flex w-full flex flex-col z-10 lg:px-7">
  <div
    class="w-full lg:w-1/3 flex items-start justify-center lg:justify-start px-7 lg:px-14"
  >
    <h1 class="text-5xl">
      {projectsEntries.title_page}
    </h1>
  </div>
  <div class="w-full flex justify-center items-center py-5">
    <div
      class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 transition-all duration-200 px-3 md:p-0 max-w-7xl"
    >
      {
        projectsEntries?.work.map((project) => (
          <ProjectCard project={project} />
        ))
      }
    </div>
  </div>
</div>
