@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
	--foreground: #fefae0;
	--principal: #bc6c25;
	--principal_light: #dda15e;
	--secondary: #283618;
	--secondary_light: #606c38;
}

body {
	color: var(--principal);
	background: var(--foreground);
	font-family: 'Inter', sans-serif;
}