@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
	--foreground: #10160a;
	--principal: #fffdf9;
	--secondary: #3a5f4a;
	--secondary_light: #8a8987;
}

body {
	color: var(--principal);
	background: var(--foreground);
	font-family: 'Inter', sans-serif;
}