---
import Background from "../../assets/cloner_tubes.jpg";
import BackgroundVideo from "../../assets/cloner-tubes.mp4";
---

<div class="hidden md:block">
  <video
    autoplay
    loop
    muted
    poster={Background.src}
    class="absolute top-1/2 left-1/2 min-w-full min-h-full w-auto h-auto -z-10 max-w-none -translate-x-1/2 -translate-y-1/2"
  >
    <source src={BackgroundVideo} type="video/mp4" />
  </video>
</div>

<div class="absolute h-full w-full block md:hidden">
  <img alt="background" src={Background.src} class="h-full object-cover" />
</div>
