---
import Background from "../../assets/cloner_tubes.jpg";
import BackgroundVideo from "../../assets/cloner-tubes.mp4";
---

<div class="block">
  <video
    id="background-video"
    autoplay
    loop
    muted
    playsinline
    poster={Background.src}
    transition:persist="background-video"
    class="absolute top-1/2 left-1/2 min-w-full min-h-full w-auto h-auto -z-10 max-w-none -translate-x-1/2 -translate-y-1/2 opacity-50"
  >
    <source src={BackgroundVideo} type="video/mp4" />
  </video>
</div>
