---
import { ClientRouter } from "astro:transitions";
---
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>ektl.de from commonHead Layout</title>
<meta name="title" content="ektl.dev" />
<meta name="description" content="ektl.dev description" />

<ClientRouter />