---

---

<section id="contact" class="h-auto text-principal p-7 lg:px-28">
  <div class="h-full w-full flex items-start justify-start border-b-2 pb-5">
    <p
      class="text-6xl [-webkit-text-stroke-width:2px] [-webkit-text-stroke-color:--principal] font-bold text-transparent"
    >
      Contacto
    </p>
  </div>
  <div class="flex flex-col lg:flex-row justify-around py-8 lg:p-8 items-start">
    <div class="flex items-center pb-5 lg:p-0">
      <p class="font-bold pr-12 text-3xl">Mail</p>
      <p class="text-xl">ekatl.ramirez@gmail.com</p>
    </div>
    <div class="flex">
      <p class="font-bold pr-12 text-3xl">Social</p>
      <div>
        <a
          href="https://www.linkedin.com/in/imcber/"
          target="_blank"
          class="cursor-pointer flex text-xl py-2"
        >
          Linkedin
        </a>
        <a
          href="https://www.instagram.com/imcber1/"
          target="_blank"
          class="cursor-pointer flex text-xl py-2"
        >
          Instagram
        </a>
        <a
          href="https://github.com/imcber"
          target="_blank"
          class="cursor-pointer flex text-xl py-2"
        >
          Github
        </a>
      </div>
    </div>
  </div>
</section>
