---
interface Props {
  currentLang: string;
  availableLangs: string[];
}

const { currentLang, availableLangs } = Astro.props;
---

<div class="flex justify-between text-2xl font-sans">
  <a href={`${currentLang}`} class="cursor-pointer"> ektl.dev </a>
  <span class="text-secondary_light">
    {
      availableLangs.map((language) => (
        <a
          class="mr-4 cursor-pointer hover:text-principal uppercase"
          href={`/${language}`}
        >
          [ {language} ]
        </a>
      ))
    }
  </span>
</div>
