---
import Cards from './Cards.astro'
const projects = [
  {
    projectId: "tar-aero",
    title: "TAR Aerolíneas",
    description:
      "Rediseño de la plataforma de booking y experiencia de usuario para la aerolínea regional.",
    imageUrl: "/images/projects/tar-banner.png", // Asegúrate que esta imagen exista en 'public/images/projects/'
    imageAlt: "Vista previa del proyecto TAR Aerolíneas",
    tags: ["React", "Node.js", "UX/UI", "Typescript"],
  },
];


export interface Tech {
  id: string;
  name: string;
  experience: number;
  skill: string;
}

const techs: Tech[] = [
  { id: "js", name: "Javascript", experience: 5, skill: "advanced" },
  { id: "java", name: "Java", experience: 5, skill: "advanced" },
  { id: "react", name: "ReactJS", experience: 3, skill: "advanced" },
  { id: "next", name: "NextJs", experience: 2, skill: "medium" },
  { id: "spring", name: "Spring", experience: 3, skill: "medium" },
  { id: "nodejs", name: "Nodejs", experience: 3, skill: "medium" },
  { id: "mongo", name: "Mongo", experience: 2, skill: "medium" },
  { id: "sql", name: "SQL", experience: 4, skill: "medium" },
];
---

<div
  class="h-screen bg-foreground lg:flex w-full flex flex-col z-10 lg:px-7"
>
  <div
    class="w-full lg:w-1/3 flex items-start justify-center lg:justify-start px-7 lg:px-14"
  >
    <p class="text-5xl">Stack</p>
  </div>
  <div class="w-full flex justify-center items-center py-5 ">
    <Cards techs={techs} />
  </div>
</div>
